html {
    text-align: center;
    font-family: monospace;
}

#calc {
    display: flex;
    min-height: 95vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(164, 218, 218);
    flex-direction: column;
}

.interface_container {
    border: 8px solid rgba(47,47,47,1);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    gap: 2px;
    padding: 2em;
    background-color: #636262;
}

#display {
    grid-column: 1 / -1;
    background-color: #377ec1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px;
    font-size: 5em;
    font-weight: initial;
    text-shadow: 1.3px 1.3px #383838;
    margin-bottom: 15px;
    margin-left: 4px;
    margin-right: 4px;
    border: 1px solid black;
}

button {
    margin: 1px;
    border-radius: 5%;
    border: 1px solid blac;
    font-weight: initial;
    font-size: 2em;
    font-family: monospace;
    color: black;
    margin:2px
}

.number,.decimal {
    background-color: #689dce;
}

.number:active,.decimal:active {
    background-color: #3377b7;
}

.operator,.equal {
    background-color: orange;
}

.operator:active,.equal:active {
    background-color: rgb(147, 109, 37);
}

#equal {
    grid-column: 3 / 5;
}

h1 {
    font-size: 3rem;
}

.clear,.sign,.percent {
    background-color: rgb(182, 182, 182);
}

.clear:active,.sign:active,.percent:active {
    background-color: rgb(128, 128, 128);
}

footer {
    padding-top: 1rem;
    font-size: 2rem;
}